@inherits LayoutComponentBase
@using Microsoft.Fast.Components.FluentUI
@using UserInterface.Components

<PageTitle>UserInterface</PageTitle>

<FluentCard Style="width: 100%; height: 100%; float: none;">
    <FluentCard Style="width: 100%; height: 15%;">
        <EGHeader/>
    </FluentCard>
    <FluentCard Style="width: 15%; float: left;">
        <EGLeftHandMenu/>
    </FluentCard>
    <FluentCard Style="width: 85%; float: right;">
        MainContent
        @Body
    </FluentCard>
    <FluentCard Style="width: 100%; height: 10%;">Bottom bar</FluentCard>
</FluentCard>

@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@