@inherits LayoutComponentBase
<PageTitle>UserInterface</PageTitle>

<div class="container-fluid">
    <div class="navbar navbar-brand col-12 row" style="height: 15%; background-color: darkblue;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11"></div>
                <div class="col-1">
                    <EGModuleSelector/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row" style="background-color: #0d6efd">
        <div class="nav col-1 float-start">
            <EGNavigation/>
        </div>
        <div class="col-11 float-start">
            <main>
                @Body
            </main>
        </div>
    </div>
    <div class="col-12 row nav" style="background-color: #0f5132; height: 10%;">
        footer
    </div>

</div>